// :root{
//     --blue-color:#2ea2c7;
//     --grey-white-color: #6c6d6f;
//     --red-color: #ed4956;
//     --grey-light-white-color: #e5e5e5;
// }

// * {
//     font-size: 13px;
//     font-family: Arial;
//     margin: 0;
//     padding: 0;
//     text-decoration: none;
//     list-style: none;
// }

.card-body.data-table {
    height: 650px;
}

.data-filter {
    width: 120px;
    margin-right: 10px;
    align-items: center;

    .label {
        margin-right: 5px;
    }

    .form-control {
        border-radius: 4px !important;
    }
}

.data-filter.page {
    width: 100px;
    
    .form-control {
        text-align: center;
    }
}